:root {
    --red: #e50914;
    --black: #141414;
}

body {
    background-color: var(--black);
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

.logo {
    color: var(--red);
    font-family: 'Arial Black', Helvetica, sans-serif;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 12px;
    padding: 7px 0;
}

header nav a:hover {
    color: #ffffff;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}

/* documentário principal */
.doc-main .container {
    width: 70%;
} 

.doc-main {
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/capa-sgm.JPG');
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.doc-main .title {
    font-size: 38px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.doc-main .description {
    margin-bottom: 40px;
    margin-top: 10px;
}

.doc-main .button-dm {
    background-color: rgba(0,0,0,.50);
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 2px;
    margin-right: 15px;
    font-family: Geneva, Tahoma, sans-serif;
    transition: .3s ease all;
}

.button-dm:hover {
    background-color: #ffffff;
    color: var(--black);
}

.buttons i { 
    margin-right: 6px;
}

.box-doc {
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-docs {
    margin-top: 10px;
}